# Node modules
node_modules/

# Build directories
client/build/
server/build/

# Service account and config files
*.json
cloud-proxy-service-account-base64.txt

# Uploads directory
uploads/

# Various specific files
asset-manifest.json
favicon.ico
logo192.png
logo512.png
manifest.json
robots.txt

# Static directory
static/
