# OS specific files
.DS_Store
Thumbs.db
Desktop.ini

# IDE specific files
.idea/
.vscode/

# Logs
logs
*.log

# Dependency directories
node_modules/
data/

server/gcs-service-account.json
server/speech-to-text-service-account.json
server/text-to-speech-service-account.json